<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://testquantum.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8c8696ea-cfdf-4cda-86c6-38b9238b9104/resourcegroups/AzureQuantum/providers/Microsoft.Web/sites/TestQuantum</ResourceId>
    <UserName>$TestQuantum</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://testquantum.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>